*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.log
*.patch
*.rar
*.tar.gz
*.war
*.zip
**/*.pyc
**/__pycache__
.gradle
.ideaDataSources
.mtj.tmp/
/.idea/
/build/
/out/
/src/main/resources/dummyauth
/src/main/resources/saml/*Keystore-nonlocal*
classes/
dataSources
gradle.properties
hs_err_pid*
**/.DS_Store
gradle

